@media (max-width: 1200px){
  .menu {
    &_item {
      padding-right: 23px;
    }
    &_link {
      font-size: 13px;
    }
  }

  .promo {
    &_header{
      font-size: 50px;
    }
    &_subheader {
      font-size: 34px;
    }
    &_descr {
      padding: 0;
    }
  }
}

@media (max-width: 991px){
  .menu {
    &_item {
      padding-right: 12px;
    }
    &_link {
      font-size: 10px;
    }
  }
  .subheader {
    &_official {
      font-size: 12px;
    }
    &_btn {
      margin-top: 21px;
      height: 40px;
    }
  }
  .promo {
    &_header{
      font-size: 39px;
    }
    &_subheader {
      font-size: 28px;
    }
  }
  .advantages {
    &_item {
      flex-direction: column;
      align-items: center;
      &_title {
        margin-top: 20px;
        text-align: center;
      }
    }
  }
  .subtitle {
    font-size: 34px;
  }
  .footer {
    &_stores {
      flex-direction: column;
      justify-content: space-between;
      &_link {
        margin-bottom: 2px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (max-width: 767px){
  .menu {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.6s all;
    &_active {
      left: 0;
      z-index: 1;
    }

    &_item {
      padding-right: 0;
      margin-top: 10px;
      border: none;
    }

    &_link {
      font-size: 20px;
    }
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 12px;
    span {
      display: block;
      height: 2px;
      width: 100%;
      background-color: $white-text;
      margin-bottom: 2px;
      transition: 0.6s transform;
    }
    &_active {
      span {
        margin-bottom: -2px;
        &:first-child {
          transform: translateY(3px) rotate(-45deg);
        }
        &:nth-child(2) {
          display: none;
        }
        &:last-child {
          transform: translateY(3px) rotate(45deg);
        }
      }
    }
  }
  .subheader {
    &_logo {
      margin-top: 26px;
    }
    &_phone {
      margin-top: 10px;
      font-size: 16px;
      text-align: center;
    }
    &_btn {
      display: block;
      margin: 5px auto 0;
      height: 35px;
    }
    .xs-hidden {
      display: none;
    }
    .xs-visible {
      display: block;
    }
  }
  .promo {
    &_header{
      line-height: 45px;
    }
  }
  .subtitle {
    font-size: 26px;
  }
  .car {
    &_img {
      bottom: 200px;
    }
  }
  .footer {
    &_wraper {
      flex-direction: column;
    }
    &_nav {
      position: relative;
      order: -1;
    }
    &_social {
      margin-top: 5px;
      align-self: center;
    }
    &_stores {
      margin-top: 5px;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}

@media (max-width: 575px){
  .subheader {
    height: 60px;
  }
  .promo {
    padding: 102px 0 34px;
    min-height: 400px;
    &_header {
      font-size: 36px;
      line-height: 42px;
    }
    &_subheader {
      font-size: 21px;
      line-height: 28px;
    }
    &_descr {
      display: none;
    }
    &_btn {
      width: 210px;
      height: 50px;
      font-size: 16px;
      margin-top: 72px;
    }
  }
}